@import "~bootswatch/dist/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";

html {
    overflow-x: hidden;
}

html,
body {
    margin: 0;
    height: 100%;
}

.container {
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
}

.links {
    font-size: 100px;
    text-align: center;
}

.typewriterWrapper {
    text-align: center;
}

#typewriter {
    font-family: monospace;
    font-size: 65%;
}

#name {
    text-align: center;
    font-size: 100%;
}

#job {
    text-align: center;
    font-size: 50%;
}

#location {
    text-align: center;
    font-size: 40%;
}

.title{
    font-size: 75px;
}
@media (max-width: 450px) {
    .title {
        font-size: 50px !important;
    }
    .links{
        font-size: 75px;
    }
}

a {
    text-decoration: none !important;
}