@import "~bootswatch/dist/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";
@import "~fontsource-courier-prime/index.css";

html {
    overflow-x: hidden;
}

html,
body {
    margin: 0;
    height: 100%;
}

.container {
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
}

.links {
    font-size: 100px;
    text-align: center;

    a {
        text-decoration: none !important;
        margin-right: 20px;

        &:last-of-type {
            margin-right: 0;
        }
    }
}

.typewriterWrapper {
    text-align: center;

    #typewriter {
        font-family: "Courier Prime";
        font-size: 65%;
        a {

            &:link,
            &:visited {
                color: #e83e8c;
                text-decoration: none;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.title {
    font-size: 75px;

    #name {
        text-align: center;
        font-size: 100%;
    }

    #job {
        text-align: center;
        font-size: 50%;
    }

    #location {
        text-align: center;
        font-size: 40%;
    }
}

@media (max-width: 450px) {
    .title {
        font-size: 50px !important;
    }

    .links {
        font-size: 75px;
    }
}